.table-container {
  max-height: 300px;
  overflow: auto;
}

.search-wrapper {
  display: flex;
}

tr.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  background-color: #337AB7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  transition: width .6s ease;
}

.contact-menu {
  position: relative;
}

.contact-menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
}

.contact-menu-dropdown a {
  z-index: 10;
  background-color: white;
  border-bottom: 2px solid black;
  padding: 5px 15px 0 15px;
}
