{{ block "archive-ui" .}}
  <div id="archive-ui" hx-target="this" hx-swap="outerHTML">
    {{ if eq .Status "waiting"}}
    <button hx-post="/contacts/archive">Download Contact Archive</button>
    {{ end }}
    {{ if eq .Status "running"}}
      <div hx-get="/contacts/archive" hx-trigger="load delay:500ms">
        Creating Archive...
        <div class="progress">
          <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="{{ mul .Progress 100}}" style="width:{{ mul .Progress 100}}%"></div>
        </div>
        <button hx-delete="/contacts/archive">Cancel Archiving</button>
      </div>
    {{ end }}
    {{ if eq .Status "complete" }}
    <a hx-boost="false" href="/static/lejson" download>Archive Complete! Click here to Download &downarrow;</a>
    <button hx-delete="/contacts/archive">Delete Archive</button>
    {{ end }}
  </div>
{{ end }}
