{{ block "single-contact-page" . }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head-partial" .Name }}
  <body hx-boost="true">
    <main class="container">
      <h1>{{ .Name }}</h1>
      <div>
        <div>Email {{ .Email }}</div>
      </div>
      <p>
        <a href="/contacts/{{ .Id }}/edit">Edit</a>
        <a href="/contacts">Back</a>
      </p>
    </main>
  </body>
</html>
{{ end }}
