{{ block "contacts-page" . }}
  <!DOCTYPE html>
  <html lang="en">
    {{ template "head-partial" "Contacts" }}
    <body hx-boost="true">
      <main class="container">
        {{ template "search-form" .Search }}
      <form x-data="{selected: []}" x-effect="if (selected.length) htmx.process($el)" hx-push-url="false">
        <template x-if="selected.length > 0">
          <div class="box info tool-bar flexed top">
            <slot x-text="selected.length"></slot> contacts selected
            <button id="delete-button" type="button" hx-trigger="confirmed from:body" hx-post="/contacts/delete" hx-target="body"
              @click="sweetConfirm($el, {title: 'Delete these contacts', showCancelButton: true, confirmButtonText: 'Delete'})"
            >
                Delete
            </button>
            <hr aria-orientation="vertical"/>
          </div>
        </template>
          <div class="table-container">
            <table>
              <thead>
              <tr><th>Select</th><th>Name</th><th>Email</th><th>Actions</th></tr>
              </thead>
              {{ template "contacts-table-body" . }}
            </table>
          </div>
        </form>
        <div>
          <p>
            <a href="/contacts/new">Add Contact</a>
            <span hx-get="/contacts/count" hx-trigger="load">
              <span id="count-spinner" class="htmx-indicator" aria-busy="true">Totaling up contacts...</span>
            </span>
          </p>
        </div>
        {{ template "archive-ui" .Archiver }}
      </main>
    </body>
  </html>
{{ end }}

{{ block "search-form" . }}
  <form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <div class="search-wrapper">
      <input 
        id="search"
        type="search"
        name="q"
        value="{{ . }}"
        autocomplete="off"
        hx-get="/contacts"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="tbody"
        hx-swap="outerHTML"
        hx-indicator="#search-running-spinner"
        _="on keydown[altKey and code is 'KeyS'] from the window me.focus()"
      />
      <span id="search-running-spinner" class="htmx-indicator" aria-busy="true" />
    </div>
    <input type="submit" value="Search" />
  </form>
{{ end }}

{{ block "contacts-table-body" . }}
  <tbody>
    {{ range .Contacts }}
      <tr>
        <td><input type="checkbox" name="selected_contacts_ids" value="{{ .Id }}" x-model="selected"/></td>
        <td>{{ .Name }}</td>
        <td> {{ .Email }}</td>
        <td>
          <div data-overflow-menu class="contact-menu">
            <button type="button" aria-haspopup="menu" aria-controls="contact-menu-{{ .Id }}" class="secondary">Options</button>
            <div role="menu" id="contact-menu-{{ .Id }}" class="contact-menu-dropdown">
              <a role="menuitem" href="/contacts/{{ .Id }}/edit">Edit</a>
              <a role="menuitem" href="/contacts/{{ .Id }}">View</a>
              <a role="menuitem" href="#" hx-delete="/contacts/{{ .Id }}" hx-confirm="Delete Contact?" hx-target="closest tr" hx-swap="outerHTML swap:1s">Delete</a>
            </div>
          </div>
        </td>
      </tr>
    {{ end }}
    {{ if .Next }}
      <tr>
        <td colspan="4" style="text-align:center">
          <span hx-get="/contacts?page={{ inc .Page }}" hx-target="closest tr" hx-swap="outerHTML" hx-select="tbody > tr" hx-trigger="intersect once">Loading...</span>
        </td>
      </tr>
    {{ end }}
  </tbody>
{{ end }}
