{{ block "edit-contact" .}}
<!DOCTYPE html>
<html lang="en">
  {{ template "head-partial" "Edit Contact" }}
  <body hx-boost="true">
    <main class="container">
      <form action="/contacts/{{ .Id }}/edit" method="post">
        <fieldset>
          <legend>Contact Values</legend>
          <p>
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email" hx-get="/contacts/{{ .Id }}/email" hx-target="next .error" hx-swap="outerHTML" {{ if .Email }} value="{{ .Email }}" {{ end }} />
              {{ template "edit-email-error" .Errors.Email }}
          </p>
          <p>
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Name" {{ if .Name }} value="{{ .Name }}" {{ end }} />
            {{ if .Errors.Name }}
              <span class="error">{{ .Errors.Name }}</span>
            {{ end }}
          </p>
          <input type="submit" value="Save" />
        </fieldset>
      </form>
      <button id="delete-btn" hx-delete="/contacts/{{ .Id }}" hx-target="body" hx-push-url="true" hx-confirm="Are you sure you wish to delete?">Delete Contact</button>
      <p>
        <a href="/contacts">Back</a>
      </p>
    </main>
  </body>
</html>
{{ end }}

{{ block "edit-email-error" . }}
  <span class="error">{{ . }}</span>
{{ end }}
