{{ block "head-partial" . }}
    <head>
  <title>{{ . }}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"
      />
      <link rel="stylesheet" href="/static/contacts.css" />
      <script src="/static/htmx.js"></script>
      <script src="/static/rsjs-dropdown.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
      <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="/static/sweetConfirm.js"></script>
    </head>
{{ end }}
