{{ block "new-contact" .}}
<!DOCTYPE html>
<html lang="en">
  {{ template "head-partial" "New Contact" }}
  <body hx-boost="true">
    <main class="container">
      <form action="/contacts/new" method="post">
        <fieldset>
          <legend>Contact Values</legend>
          <p>
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email" hx-get="/contacts/new/email" hx-target="next .error" hx-swap="outerHTML" hx-trigger="change, keyup delay:200ms changed" {{ if .Email }} value="{{ .Email }}" {{ end }} />
            {{ template "new-email-error" .Errors.Email }}
          </p>
          <p>
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Name" {{ if .Name }} value="{{ .Name }}" {{ end }} />
            {{ if .Errors.Name }}
              <span class="error">{{ .Errors.Name }}</span>
            {{ end }}
          </p>
          <input type="submit" value="Save" />
        </fieldset>
      </form>
      <p>
        <a href="/contacts">Back</a>
      </p>
    </main>
  </body>
</html>
{{ end }}

{{ block "new-email-error" . }}
  <span class="error">{{ . }}</span>
{{ end }}
